{
"PublisherId": "CN=68C2D20A-96CA-43CC-A323-A549C2786CDA",
"PublisherDisplayName": "Samsid Game Studios",
"PackageIdentityName": "55968SamsidGameStudios.CatSlammers",
"DisplayName": "Cat Slammers",
"AppId": "9N8QDNVBX7SL",
"ProductFamilyName": "55968SamsidGameStudios.CatSlammers_r9j5xrxak4zje",
"PrimaryServiceConfigId": "00000000-0000-0000-0000-0000646c026a",
"TitleId": 1684800106,
"Sandbox": "MBSPPR.58",
"XboxLiveCreatorsTitle": true
}